<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.himorfosis.kelolabelanja">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.activity.HomepageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".category.Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".financial.FinancialDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".category.AddCategory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".financial.InputFinancial"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".details.category.FinancialCategoryDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".reports.view.ReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".reports.view.ReportDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            ></activity>
        <activity android:name=".auth.Login"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".auth.Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>